<!DOCTYPE html>
<html>
  <head>
    <title>Digital Wesleyan Fellowship</title>
    <link href="students.css" rel="stylesheet"/>
    <link href="./fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="header">
      <div class="headshot"></div>
      <img src="#"/>
      <h1 class="name">Matthew Donahue</h1>
      <ul class="social">
        <li><a href="http://www.twitter.com/MFDonahue14">
          <i class="fa fa-twitter fa-lg"></i>
        </a></li>
        <li><a href="http://www.linkedin.com/in/mdonahue">
          <i class="fa fa-linkedin fa-lg"></i>
        </a></li>
        <li><a href="#">
          <i class="fa fa-github fa-lg"></i>
        </a></li>
        <li><a href="http://www.mdonahue.me">
          <i class="fa fa-user fa-lg"></i>
        </a></li>
      </ul>
    </div>
    <div class="about">
      <h2>About</h2>
      <ul>
        <li>Double Major: Neuroscience and Behavior, Psychology </li>
        <li>Graduation Year: 2014</li>
        <li>Hometown: Canterbury, CT</li>
      </ul>
      <h2>Bio</h2>
      <p>Matt is an aspiring nerd. Well-versed in graphic design and typography, he often finds himself working with the Adobe Suite.</p>
    </div>
    <div class="project">
      <h2>Project</h2>
      <h3>COMING SOON!</h3>
    </div>
  </body>
</html>